.loader {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0.5em 0.5em 0.5em;
  justify-content: space-between;

  span {
    vertical-align: super;
  }
  input[type="file"] {
    display: none;
  }
  .gui-icon.file-up {
    --icon: url("../gui/icons/file-up.svg");
  }
}