.clock-ui {
  button {
    margin: 0.25em;
    border: 0px;
    border-radius: 4px;
  }
  .clock-icon {
    height: 1lh;
    background: var(--gui-color-text) center / contain no-repeat;
    width: 1lh;
    -webkit-mask-image: var(--icon);
    mask-image: var(--icon);
    display: block;
  }
  .clock-icon.reset {
    --icon: url("icons/reload.svg")
  }
  .clock-icon.fast-reset {
    --icon: url("icons/refresh-dot.svg")
  }
  .clock-icon.pause {
    --icon: url("icons/player-pause.svg")
  }
  .clock-icon.continue{
    --icon: url("icons/player-play.svg")
  }
  .clock-icon.step-cycle {
    --icon: url("icons/arrow-right-circle.svg")
  }
  .clock-icon.step-instruction {
    --icon: url("icons/player-skip-forward.svg")
  }

  .clock-extra {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 1em;

    height: fit-content;
    width: fit-content;
    
    .clock-marker {
      height: 2ex;
      width: 2ex;
    }
    .clock-marker.clock-animation {
      background-color: red;

      visibility: visible;
      opacity: 1;
      animation-name: fadeOut;
      /* Convert the frequency to a duration, with a minimum of 0.05s */
      animation-duration: max(calc(1s / var(--clock-frequency, 1)), 0.05s);
      animation-fill-mode: forwards;
    }

    .clock-cycles {
      margin-left: auto;
      margin-right: 0.5em;
    }
  }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  20% { opacity: 1; }
  40% { opacity: 0.7; }
  60% { opacity: 0.5; }
  80% { opacity: 0.1; }
  100% { opacity: 0; }
}
