.clock-ui {
  background-color: lightgreen;

  .clock-marker.clock-animation{
    background-color: red;
    height: 10px;
    width: 10px;

    visibility: visible;
    opacity: 1;
    animation-name: fadeOut;
    /* TODO: add some way of editing the duration */
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
}
@keyframes fadeOut {
  0% { opacity: 1; }
  20% { opacity: 1; }
  40% { opacity: 0.7; }
  60% { opacity: 0.5; }
  80% { opacity: 0.1; }
  100% { opacity: 0; }
}
