.instruction-ui {
  height: 100%;
  width: 100%;

  font-family: 'Courier New', Courier, monospace;

  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .address {
      /* I've decided that the addresses are going to be formatted as equal
       * length strings, so I don't need to specify a fixed size with flex-basis.
       * A padding works well enough */
      /* flex-basis: 10%; */ 
      padding-right: 1em;
    }

    .data {
      flex: 2;
    }
  }
}