.memory-ui {
  background-color: lightcoral;

  .memory-table {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 100%;

    .read-highlight {
      background-color: lightblue;
    }
    .pc-highlight {
      background-color: lightyellow;
    }
    .write-highlight {
      background-color: red;
    }
    .read-highlight.pc-highlight {
      background-color: lightgreen;
    }
    .read-highlight.write-highlight {
      background-color: purple;
    }
    .pc-highlight.write-highlight {
      background-color: orange;
    }
    .read-highlight.pc-highlight.write-highlight {
      background-color: whitesmoke;
    }
  }
  .memory-grid {
    /* display: table */
    /* display: grid; */
    /* The first column is the base address number column */
    /* grid-template-columns: repeat(17, 1fr); */
    /* grid-gap: 1px; */
    /* padding: 1px; */
  }
}