.register-ui {
  .register-table {
    font-family: 'Courier New', Courier, monospace;

    width: 100%;
    text-align: center;

    .pointer-register {
      text-decoration: underline;
      color: var(--gui-color-text-blue);
      cursor: help;
    }
    .pointer-register-value {
      text-decoration: underline;
      color: var(--gui-color-text-blue);
      cursor: help;
    }
  }
}