@import url("common.css");
@import url("https://unpkg.com/dockview-core@4.4.0/dist/styles/dockview.css");

.gui-root {
  height: 100vh;
  width: 100vw;
}

.dv-theme-sim {
  /* gui-panel equivalent */
  .dv-groupview {
    background-color: var(--gui-color-background);
    border: 1px solid var(--gui-color-border); 
    border-radius: 5px;

    .dv-tabs-and-actions-container {
      font-family: var(--gui-font-title);
      font-weight: var(--gui-font-title-weight, 900);
      font-size: var(--gui-font-title-size, auto);
      padding-left: 0.75ch;
      box-decoration-break: clone;
      text-transform: uppercase;
      border-bottom: 1px solid var(--gui-color-border);

      position: relative !important;
    }
    .dv-tab {
      background-color: var(--gui-color-background);
      /* Disable user interaction so they cannot drag and drop the tab */
      pointer-events: none;
      /* Make correct height, because the actual tab will be position: absolute,
         and it will not affect the layout */
      position: initial !important;
      height: 2em;
      padding: 0;
      width: 0;
    }
    .dv-scrollable {
      position: initial !important;
    }
    .dv-content-container {
      font-family: var(--gui-font-monospace);
      font-weight: var(--gui-font-monospace-weight, auto);
      font-size: var(--gui-font-monospace-size, auto);
      overflow: auto;
    }
  }
  .my-dv-tab {
    position: absolute;
    padding: 0.25em;
  }
}
