@import url("common.css");


.gui-root {
  --sixteen-by-nine-ratio: calc(16 / 9);
  display: grid;

  grid-gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(24, min(calc(100vh / 24), calc(100vw / 24 / var(--sixteen-by-nine-ratio))));
  grid-auto-flow: column;
}