.clock-ui {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;  

  button {
    margin: 0.25em;
    border: 0px;
    border-radius: 4px;
  }
  .gui-icon.reset {
    --icon: url("../gui/icons/reload.svg")
  }
  .gui-icon.fast-reset {
    --icon: url("../gui/icons/refresh-dot.svg")
  }
  .gui-icon.pause {
    --icon: url("../gui/icons/player-pause.svg")
  }
  .gui-icon.continue{
    --icon: url("../gui/icons/player-play.svg")
  }
  .gui-icon.step-cycle {
    --icon: url("../gui/icons/arrow-right-circle.svg")
  }
  .gui-icon.step-instruction {
    --icon: url("../gui/icons/player-skip-forward.svg")
  }
  .gui-icon.cycle-counter {
    --icon: url("../gui/icons/stopwatch.svg");
    display: inline-block;
  }
  .gui-icon.heartbeat {
    --icon: url("../gui/icons/heart.svg");
    --icon-color: var(--gui-color-red-background);
  }

  .clock-extra {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 1lh;
    width: 100%;

    padding-bottom: 2%;

    .clock-marker {
      height: 1lh; 
      width: 1lh;
      display: inline-block;
      margin: 0.25em;
      visibility: hidden;
    }
    .clock-marker.clock-animation {
      visibility: visible;
      opacity: 1;
      animation-name: fadeOut;
      /* Convert the frequency to a duration, with a minimum of 0.05s */
      animation-duration: max(calc(1s / var(--clock-frequency, 1)), 0.05s);
      animation-fill-mode: forwards;
    }

    .clock-cycle-counter-container {
      height: 1lh;
      margin-right: 0;
      margin-left:auto;
    }

    .clock-cycle-counter {
      height: 1lh;
      /* This cannot be the correct way to do this right?? 😭😭😭😭 */
      transform: translateY(calc(-0.5em + 0.5px));
      min-width: 1em;
      text-align: left;
      display: inline-block;
      text-align: center;
      margin-right: 1em;

      vertical-align: middle;
    }
  }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  20% { opacity: 1; }
  40% { opacity: 0.7; }
  60% { opacity: 0.5; }
  80% { opacity: 0.1; }
  100% { opacity: 0; }
}
