.register-ui {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .register-table {
    width: 100%;
    text-align: center;

    th {
      text-transform: uppercase;
    }
    input {
      width: var(--register-edit-width, 2ch);
      height: 1lh;
      text-align: center;
    }
    .uneditable {
      border: orangered 1px dashed;
      cursor: not-allowed !important;
    }
    .editable {
      /* this border won't be visible, but it is here to prevent the
       * table from jerking when turning it editable and back */
      border: transparent 1px dashed;
      cursor: text !important;
    }

    .pointer-register {
      text-decoration: underline;
      color: var(--gui-color-text-blue);
      cursor: help;
    }
    .pointer-register-value {
      text-decoration: underline;
      color: var(--gui-color-text-blue);
      cursor: help;
    }
  }
}