.register-ui {
  .register-table {
    font-family: var(--gui-font-monospace);
    font-weight: var(--gui-font-monospace-weight, auto);

    width: 100%;
    text-align: center;

    input {
      width: var(--register-byte-width, 2ch);
      height: 1lh;
      text-align: center;
    }
    .register-bytes-1 {
      --register-byte-width: 2ch;
    }
    .register-bytes-2 {
      --register-byte-width: 4ch;
    }
    .uneditable {
      border: orangered 1px dashed;
      cursor: not-allowed;
    }
    .editable {
      cursor: text !important;
    }

    .pointer-register {
      text-decoration: underline;
      color: var(--gui-color-text-blue);
      cursor: help;
    }
    .pointer-register-value {
      text-decoration: underline;
      color: var(--gui-color-text-blue);
      cursor: help;
    }
  }
}