@font-face {
  font-family: "Montserrat";
  src: url("/assets/Montserrat-VariableFont_wght.woff2") format("woff2-variations");
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("/assets/JetBrainsMono[wght].woff2") format("woff2-variations");
}
.gui-root {
  --gui-font-monospace: "JetBrains Mono", "Courier New", Courier, monospace;
  --gui-font-monospace-weight: 100;
  --gui-font-monospace-size: 1rem;
  --gui-font-title: "Montserrat", sans-serif;
  --gui-font-title-weight: 700;
  --gui-font-title-size: 1rem;
}