.assembler-ui {
  overflow: auto;
  position: relative;
  textarea {
    width: 100%;
    height: 100%;
    resize: none;
  }
  .aui-overlay {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
  }

  .gui-icon.build {
    --icon: url("../gui/icons/cog.svg");
  }
  .gui-icon-button.active > .gui-icon.build {
    animation: aui-rotate 1s linear infinite;
  }

  .gui-icon.ok {
    --icon: url("../gui/icons/check.svg");
    --icon-color: var(--gui-color-text-green)
  }
  .gui-icon.fail {
    --icon: url("../gui/icons/x.svg");
    --icon-color: var(--gui-color-red)
  }
  .gui-icon-container:has(.gui-icon.ok), .gui-icon-container:has(.gui-icon.fail) {
    opacity: 0;
    max-width: 0;
    transition: max-width 0.5s ease-out, opacity 1s ease-out;
  }
  .gui-icon-container.move:has(.gui-icon.ok), .gui-icon-container.move:has(.gui-icon.fail) {
    opacity: 1;
    max-width: 200px;
    transition: max-width 3s ease-out, opacity 0.5s ease-out;
    /* animation: aui-slide-left 6s forwards; */
  }

  .cmt-keyword {
    color: var(--gui-color-text-purple);
  }
  .cmt-def {
    color: var(--gui-color-text-dark-blue);
  }
  .cmt-number {
    color: var(--gui-color-text-orange);
  }
  .cmt-string {
    color: var(--gui-color-text-green);
  }
  .cmt-comment {
    color: var(--gui-color-text-gray);
  }
  .cmt-variable-name {
    color: var(--gui-color-text-blue);
  }
  .cm-activeLine {
    background-color: color-mix(in srgb, var(--gui-color-highlight) 40%, transparent);
  }
  .cm-selectionMatch {
    background-color: var(--gui-color-higherlight) !important;
  }
  .cm-selectionBackground {
    background-color: var(--gui-color-higherlight) !important;
  }
  .cm-activeLineGutter {
    background-color: color-mix(in srgb, var(--gui-color-highlight) 40%, transparent);
  }
  .cm-cursor.cm-cursor-primary {
    border-left-color: var(--gui-color-text);
  }
  .cm-tooltip-hover {
    background-color: var(--gui-color-background);
    color: var(--gui-color-text);
    border-color: var(--gui-color-border);
    .cm-diagnostic-error {
      border-color: var(--gui-color-red);
    }
  }
  .cm-lintRange-error {
    background-image: none;
    position: relative;
  }
  .cm-lintRange-error::after {
    content: '';
    width: 100%; /* as wide as the lintRange-error */
    height: 1lh; /* it must be at least as high as the squiggly line */
    pointer-events: none; /* be transparent to clicks and other mouse events, they will fall through to the editor */

    position: absolute; /* position it on top of the lintRange-error */
    bottom: 0;          /* idem */
    left: 0;            /* idem */

    /* draw the squiggly line, red-colored */
    --squiggly-line: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="6" height="3"><path d="m0 2.5 l2 -1.5 l1 0 l2 1.5 l1 0" stroke="black" fill="transparent" stroke-width=".7"/></svg>');
    background-color: var(--gui-color-red);
    mask-image: var(--squiggly-line);
    -webkit-mask-image: var(--squiggly-line);
    mask-repeat: repeat-x;
    -webkit-mask-repeat: repeat-x;
    mask-size: auto;
    -webkit-mask-size: auto;
    mask-position: bottom;
    -webkit-mask-position: bottom;
  }
  .cm-gutters {
    background-color: unset;
    color: var(--gui-color-text);
    border: none;
  }
  .cm-scroller {
    font-family: inherit;
  }
}

@keyframes aui-rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes aui-slide-left {
  0% {
    max-width: 0;
    opacity: 0;
  }
  20% {
    max-width: 200px;
    opacity: 1;
  }
  80% {
    max-width: 200px;
    opacity: 1;
  }
  100% {
    max-width: 0;
    opacity: 0;
  }
}
