.assembler-ui {
  overflow: auto;
  position: relative;
  textarea {
    width: 100%;
    height: 100%;
    resize: none;
  }
  .aui-overlay {
    position: absolute;
    top: 0;
    right: 0;
  }

  .gui-icon.build {
    --icon: url("../gui/icons/cog.svg");
  }
}