.history-ui {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  /* I want the screen to follow scrolling behaviour, similar to a terminal. I'm currently using JS.
   * But I've tried to use CSS to do it. I've tried using CSS solutions from
   * https://stackoverflow.com/questions/18614301/keep-overflow-div-scrolled-to-bottom-unless-user-scrolls-up
   * such as: 
   * - using scroll snap (but I want to use snap for this other use case, so I can't use it that way).
   *   also, in firefox, it only allows scrolling with a trackpad/scrollbar, not with the mouse wheel.
   *   (i think this is https://bugzilla.mozilla.org/show_bug.cgi?id=1753188).
   * - using overflow-anchor and a div at the end of the page (but I couldn't get it to work, at least on FF).
   * - using flex-direction: column-reverse (but it only works on its own, not with scroll-snap-type: y mandatory).
   */

  /* This is for snapping the scroll to the nearest row (so the user can't see
   * half-rows */
  overscroll-behavior-y:auto;
  scroll-snap-type: y mandatory;

  .row {
    scroll-snap-align: end;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &:last-child {
      background-color: var(--gui-color-highlight);
    }

    .address {
      /* I've decided that the addresses are going to be formatted as equal
       * length strings, so I don't need to specify a fixed size with flex-basis.
       * A padding works well enough */
      /* flex-basis: 10%; */ 
      padding-right: 1em;
    }

    .data {
      /* flex: 2; */
      padding-right: 1em;
    }

    .raw {
      width: 10em;
      padding-right: 1em;
    }

    .extra {
      flex: 2;
      color: #888;
    }
  }
}