.screen-ui {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  pre::after {
    content: " ";
    background: var(--gui-color-foreground-dark);

    animation: screen-ui-cursor-blink 1.25s steps(2, jump-none) infinite;
  }
}

@keyframes screen-ui-cursor-blink {
  0% {
    opacity: 0;
  }
}